<div id="page-content">
  <div class="container" id="home-container">
    <div class="row justify-content-md-center">
      <div class="col-10 jumbotron border border-dark text-center">
      <h1 class="text-center mt-4"><%= @user.username%>'s Profile</h1>
      <p class="lead"> Hello <%= @user.username %>! This is your realm. Enjoy! </p>
        <hr class="my-4">
        <% if logged_in? && @user == current_user %>
          <p>Here you can edit your profile.</p> <br>
          <p class="lead">
          <%= link_to 'Edit profile', edit_user_path(@user.id), class:"btn btn-outline-warning" %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="apple_pagination mt-5">
    <%= will_paginate @articles, :container => false %>
</div>

<%= render 'articles/article' %>

<div class="apple_pagination mt-5 mb-5">
    <%= will_paginate @articles, :container => false %>
</div>

